<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="settings">
			<section name="gnip.streamer" type="Gnip.Streamer.Common.GnipStreamerConfSection, Gnip.Streamer" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	
	<settings>
		<gnip.streamer
      source="Twitter"
      output="D:\gnip_data.csv"
      append="10"
      total="100000"
      live="true">
		</gnip.streamer>
	</settings>
	
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="true"></proxy>
		</defaultProxy>
	</system.net>
</configuration>