<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="settings">
			<section name="gnip.streamer" type="Gnip.Streamer.Common.GnipStreamerConfSection, Gnip.Streamer" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>
	
	<settings>
		<gnip.streamer source="Twitter" output="D:\gnip_data.csv" total="100000" append="50" live="true"/>
	</settings>
	
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="true"></proxy>
		</defaultProxy>
	</system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
