<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="settings">
			<section name="gnip.ruler" type="Gnip.Ruler.Common.GnipRulerConfSection, Gnip.Ruler" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>
	
	<settings>
    <gnip.ruler source="Twitter" live="true">
    </gnip.ruler>
	</settings>
	
	<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy usesystemdefault="true"></proxy>
		</defaultProxy>
	</system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
